.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
    list-style: none;
    cursor: pointer;
}

.logo {
    display: flex;
    width: 150px;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}


.pokemon {
    margin: .5rem;
    padding: .5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    
}

#pokemon-hover:hover{
    transform: translateY(-2px);
    box-shadow: 1px 2px 1px 0 rgb(138, 135, 135);
}

.pokemon .number {
    font-size: .825rem;
    text-align: right;
    color: black;
    opacity: .6;
    margin: .5rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: white;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} 

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    border-style: none;
    height: 70px;
    align-self: flex-end;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    color: white;
    background-color: #6c79dc;
    border: none;
    border-radius: 1rem;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    cursor: pointer;
}

.pagination button:hover {
    transform: translateY(-2px);
    box-shadow: 1px 2px 1px 0 rgb(138, 135, 135);
}

/* quando o pokemon é selecionado */

#selectPokemon {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #5c5b59;
}

.buttonFechar {
    color: white;
    background-color: #6c79dc;
    border: none;
    border-radius: 1rem;
    padding: .55rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    cursor: pointer;
}

.buttonFechar:hover {
    transform: translateY(-2px);
    box-shadow: 1px 2px 1px 0 rgb(138, 135, 135);
}

.img-stats {
    max-width: 100%;
    height: 140px;
    margin: auto;
}

.base-stats {
    background-color: white;
    height: 19rem;
    width: 22rem;
    border-radius: 30px 30px 8px 8px;
    box-shadow: 0 -15px 24px -8px #5c5b59;
}

.base-stats h4 {
    text-align: center;
}

.hability {
    display: flex;
    width: 100%;
    justify-content: center;
}

.descricao-stats {
    text-transform: capitalize;
    border-right: 1px solid black;
    padding-right: 5rem;
}

.results-stats {
    padding: 0 0.6rem;
}

.stats {
    display: flex;
    font-size: 0.8rem;
    width: 80%;
}

.stats-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 0 60px;
}

.stats-bar p{
    background-color: white;
    border-radius: 5px;
    padding: 0.2rem;
    box-shadow: 2px 1px 5px 1px #5c5b59;
}
